# GLOBAL
TZ=America/Fortaleza
MEDIA_DIR=

# IMMICH
IMMICH_VERSION=release
IMMICH_PHOTOS=
IMMICH_UPLOAD_LOCATION=
IMMICH_DB_DATA_LOCATION=
IMMICH_DB_PASSWORD=postgres
IMMICH_DB_USERNAME=postgres
IMMICH_DB_DATABASE_NAME=immich

# PAPERLESS
COMPOSE_PROJECT_NAME=paperless

#PAPERLESS_URL=https://paperless.example.com
PAPERLESS_SECRET_KEY=change-me
PAPERLESS_TIME_ZONE=America/Fortaleza
PAPERLESS_OCR_LANGUAGE=por
PAPERLESS_OCR_LANGUAGES=por eng

# NEXTCLOUD
MYSQL_ROOT_PASSWORD=123
MYSQL_PASSWORD=123
MYSQL_DATABASE=nextcloud
MYSQL_USER=nextcloud

# GLANCE
MY_SECRET_TOKEN=123456
